.repo-card h3 {
    margin: 0;
    margin-top: 10px;
    color: #79AEE7;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .repo-card h3:hover{
    color: #79AEE7;
  }
  .MainRepo p {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0;
    color: #79AEE7;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
  }
  a{
    cursor: pointer;
    text-decoration-line:none ;
  }
  a > h3:hover{
    text-decoration: underline;
  }
  
  .repo-card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: linear-gradient(157deg, #fafafa 17.17%,#B8ADFE 84.45%);
    padding: 30px 20px;
    max-width: 400px;
    gap: 20px;
    align-items: flex-start;
  }
  .repo-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 10px;
    padding: 50px 15px 0 15px;
  }
  
  .MainRepo > div {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-self: center;
    cursor: pointer;
  }
  .repo-card img{
    display: inline;
    width: 25px;
    height: 25px;
  }
  
  
  .MainRepo {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 768px) {
    .repo-container {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
  